 <section class="featured-products">
    <div class="product-container">
      <h1>{{ section.settings.product_title }}</h1>
      <div class="product-grid">
        {% assign collection = collections[section.settings.product_collection] %}
        {% for product in collection.products limit:4 %}
          <div class="product">
            {% assign discount = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price %}
            
            {% if product.compare_at_price > 0 and product.price < product.compare_at_price and discount >= 20 %}
              <div class="badge">Sale</div>
            {% endif %}

            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
            </a>
            <a href="{{ product.url }}"><h3>{{ product.title }}</h3></a>
            <p class="price">{{ product.price | money }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "Featured Products",
    "settings": [
       {
        "type": "text",
        "id": "product_title",
        "label": "Title",
         "default": "Featured Products"
      },
      {
        "type": "collection",
        "id": "product_collection",
        "label": "Select Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}